<div class="col-xs-3">
	<h2>User info</h2>
	<table class="table">
		<tbody>
			<tr>
				<th>name</th>
				<th></th>
			</tr>
			<tr>
				<th>introduction</th>
				<th></th>
			</tr>
		</tbody>
	</table>
	<div class="row">
		<a href="#" class="col-xs-12 btn btn-default glyphicon glyphicon-wrench"></a>
	</div>
	<h2>New book</h2>
	<%= form_for(book) do |f| %>
		<p>Title</p>
		<%= f.text_field :title %>
		<p>Option</p>
		<%= f.text_area :body %>
		<span><%= f.submit "Create Book", class: "btn btn-primary btn-lg" %></span>
	<% end %>
</div>