// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.login a{
	color: #666;
}
.login a:hover{
	color: white;
}
.signup a{
	color: #666;
}
.signup a:hover{
	color: white;
}
.container{
	width: 970px;
	margin: 0 auto;
}
.sign-up-btn{
	margin-top: 10px;
}